@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roto:300ob');

header {
    background-image: url(../img/huntington.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: contain;
    width: 100%;
    height: 200px;
    margin-left: 0px;
    margin-right: 0px;
}
h2 {
    padding-top: 5px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    color:rgb(255, 255, 255);
    font-style: italic;
   
}

h1 {
    font-size: 45px;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Roto:300ob', monospace;
    text-align: center;
    text-shadow: 0px 5px rgb(46, 44, 44);
    text-transform: uppercase;
}

p {
    font-family: 'IBM+Plex+Mono', 'Courier New', Courier, monospace;
    margin-left: 75px;
    margin-right: 75px;

}

h3 {
    padding-top: 30px;
    margin-right: 75px;
    margin-left: 75px;
    font-family: 'IBM+Plex+Mono', 'Courier New', Courier, monospace;
    
}
a:hover {
    color:black;
}
a:link {
    color: black;
}